@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

.card {
  background-color: #474747 !important;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  width: 24rem;
  margin: 200px auto;
  height: 350px;

  .card-title {
    text-align: center;
    margin-bottom: 16px;
  }

  .btn {
    background-color: #000000;
    color: #FFFFFF;
    border: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
  }
}
